.pdf-upload-title,
.api-key-title {
	text-align: center;
}

/* Conteneur principal */
.pdf-upload-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 1.5rem;
	border-radius: 10px;
	max-width: 500px;
	margin: auto;
}

.api-key-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 1.5rem;
	border-radius: 10px;
	max-width: 500px;
	margin: auto;
}

/* Conteneur des inputs */
.pdf-input-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 1rem;
}

/* Styles des inputs */
.api-key-input,
.pdf-upload-input,
.folder-upload-input {
	flex-grow: 1;
	padding: 0.5rem;
	border-radius: 4px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	display: block;
	width: 100%;
}

.pdf-upload-input::file-selector-button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 0.5rem;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.pdf-upload-input::file-selector-button:hover {
	background-color: #0056b3;
}

.folder-upload-input::placeholder {
	text-align: center;
	color: #666;
}

/* Style du bouton */
.pdf-upload-button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 0.75rem 1.5rem;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 100%;
	text-align: center;
}

.api-key-button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 0.75rem 1.5rem;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 60%;
	text-align: center;
}
.api-key-button:hover,
.pdf-upload-button:hover {
	background-color: #0056b3;
}
